#team-block {
    padding: 70px 0;
    .team-block {
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    .team-text {
        text-align: center;
        margin-bottom: 40px;
        @media screen and (min-width: 1200px) {
            text-align: left;
            width: 35%;
        }
        p {
            @media screen and (min-width: 768px) {
                max-width: 90%;
            }
        }
    }
    .team-btn {
        display: inline-block;
        margin-top: 30px;
        background: var(--green);
        color: #ffffff;
        padding: 12px 20px;
        border-radius: 5px;
        font-family: "AlbertSans-Bold", Arial, Helvetica, sans-serif !important;
    }
    .team-images {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-between;
        }
        @media screen and (min-width: 1200px) {
            width: 70%;
        }
        .team-div {
            padding-bottom: 40px;
            @media screen and (min-width: 768px) {
                width: 30%;
            }
            p {
                margin: 0;
                background: var(--green);
                position: relative;
                top: -4px;
                color: white;
                text-align: center;
                padding: 10px;
            }
            img {
                max-height: 360px;
                width: 100%;
                object-fit: cover;
                @media screen and (min-width: 768px) {
                    max-height: auto;;
                }
            }
        }
    }
}